network_name             = "medstock-network"
backend_container_name   = "medstock-backend"
postgres_container_name  = "medstock-db"

backend_image         = "ghcr.io/cletusaabugre/medstock-monitor:ci"
backend_internal_port = 5000
backend_external_port = 5000

postgres_port = 5432

db_name = "medstock"
db_user = "postgres"

# Change this before any real deployment — never use the default in production
db_password = "changeme"
